name: Quantum 24/7 Cron

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run-quantum:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Quantum Script
        run: |
          echo "Quantum running at $(date)"
          echo "Owner: Dang Viet Quang"
          echo "Standard Name: DANG VIET QUANG"
